/* ===========================================
                    BASE
=============================================*/
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f9faff;
}

h2:hover {
  border-bottom: 5px solid #7c79ff;
}

footer {
  text-align: center;
}

.wrapper {
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

/* ===========================================
                    ELEMENTS
=============================================*/
.logo {
  border-radius: 50%;
  width: 80px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.container-fluid {
  max-width: 1200px !important;
}

/* Hero section */
.hero {
  margin-bottom: 30px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-wrapper {
  margin-bottom: 20px;
}

.intro-text {
  padding: 15px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #7c79ff;
  -webkit-text-stroke: 1px black;
  background: linear-gradient(90deg, #fff, #adacfa, #7c79ff, #73e9d7);
  background-size: 400% auto;

  color: #000;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 15s ease infinite;
}

.hero h2 {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 1.5rem;
}
.hero h2:hover {
  border-bottom: none;
  cursor: pointer;
}

.hero p {
  margin-top: 25px;
  font-size: 1.3rem;
}

.hero p,
h1,
h2 {
  text-align: center;
}

.hero a {
  width: 40%;
  background-color: #7c79ff;
  border: 1px solid #7c79ff;
  margin-bottom: 10px;
  margin-bottom: 35px;
  display: block;
  margin: 0 auto;
}

.profile-pic {
  width: 100%;
}

.btn-primary {
  background: linear-gradient(90deg, #fff, #adacfa, #7c79ff, #73e9d7);
  background-size: 200% auto;
  animation: gradient 15s ease infinite;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7c79ff87;
  border-color: #7c79ff87;
}
/* end of hero section */

/* about me section */
.about-me {
  background-color: #f9faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.about-me p {
  padding: 15px;
}
/* end of about me section */

/* project section */
.projects {
  background-color: #f9faff;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  padding-top: 30px;
}

.card {
  box-shadow: 5px 5px 2px #adacfa;
}

.card:hover {
  box-shadow: 5px 5px 2px #7c79ff;
}

.projects h2 {
  margin-bottom: 30px;
}

/* .weather-pic {
  padding-top: 40px;
  height: 80% !important;
  margin-top: 0 !important;
} */

.img-fluid {
  /* height: 70%; */
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.card {
  width: 80%;
}

.links {
  text-align: center;
}

.links a {
  color: #7c79ff;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.links a:hover {
  color: #adacfa;
  font-size: 1.1rem;
}

ul.skills {
  padding: 0;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #7c79ff;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #adacfa;
}

/* Skill-odd */
ul.skills-odd {
  padding: 0;
}

.skills-odd li {
  border-radius: 6px;
  display: inline-block;
  background: #adacfa;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills-odd li:nth-child(odd) {
  background: #7c79ff;
}
/* end of project section */

footer {
  margin-top: 30px;
  transition: all 150ms ease-in-out;
}
footer a {
  color: #7c79ff;
}

footer .fa {
  font-size: 2rem;
}

footer .fa {
  transition: all 150ms ease-in-out;
}

footer .fa:hover {
  transform: scale(1.2);
  color: #adacfa;
}

footer img {
  width: 100%;
  animation: gradient 15s ease infinite;
}

/* ===========================================
                    MEDIA QUERIES
=============================================*/
@media screen and (min-width: 768px) {
  .hero {
    display: initial;
  }

  .hero a {
    width: 60%;
  }

  .profile-pic {
    width: initial;
    max-width: 60%;
  }

  .intro-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .intro-text {
    margin-left: auto;
  }

  .about-me p {
    display: block;
    margin: 0 auto;
    width: 540px;
  }

  .card {
    padding-left: 15px;
  }

  .links {
    text-align: left;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
